.month {
  padding: 3em 1.5em;
  width: 90%;
  margin: auto;
  background-color: hsla(0, 0%, 0%, 0.5) ;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  text-align: center;
}
#month-header {
  text-align: center;
  text-transform: capitalize;
  margin: 0;
}
.month-year-header {
  color: aliceblue;
}
/* this is initialized in the main.js */
#monthHeaderName {
  margin-bottom: 0.5em;
}
.not-curr-month {
  color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
}
#date-exercises{
  color: aliceblue;
}
.curr-month {
  color: rgba(0, 0, 0, 0.8);
}
/* this is initialized in the main.js */
.month ul {
  margin: auto;
  width: 100%;
  padding: 0;
}
.prev {
  float: left;
  margin: 0;
}
.next {
  float: right;
  margin: 0;
}
.days {
  overflow: hidden;
  width: 90%;
  padding: 2em;
  margin: auto;
  padding: 0em 2em 2em 2em;
  background: hsla(0, 0%, 0%, 0.5);
  box-shadow: 4px 6px hsla(0, 0%, 0%, 0.5);
  text-align: center;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
.weekday {
  margin: 0;
  padding: 10px 0;
}
.li-calendar {
  display: inline;
  font-size: 1rem;
  margin-right: 2em;
  color: black;
}
.ul-calendar {
  margin: 0 auto 0.5em auto;
  list-style-type: none;
  display: table;
}
.weekday li {
  float: left;
  list-style-type: none;
  margin-bottom: 0.5em;
  width: 13.6%;
  font-weight: bold;
  text-align: center;
  color: aliceblue;
}
.dates {
  clear: both;
  padding: 1em 0;
  background: rgba(240, 248, 255, 0.75);
  overflow: hidden;
  margin: 0;
  border-radius: 1em;
}
.dates li {
  list-style-type: none;
  float: left;
  cursor: default;
  font-weight: bold;
  width: 13.6%;
  text-align: center;
  margin-bottom: 0.4em;
}
#popup {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  margin-top: 1em;
  display: none;
  position: relative;
}
form{
  padding-top: 1em;
}
.active {
  background-color: #E7ECEF;
  border-radius: 0.5em;
}
.hitbox {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  width: 3em;
  height: 3em;
  padding-top: 1em;
}
table{
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  margin: 1em auto;
  font-size: 1.1rem;
  width: 80%;
  color: aliceblue;
}
select{
  display: block;
  padding: 3em 1.5em;
  width: 50%;
  margin: 3rem auto;
  background: rgba(240, 248, 255, 0.75);;
  border-radius: 1em;
  text-align: center;
  color: black;
}
select option:hover{
  box-shadow: 10px 10px 10px 10px inset;
}
#nameLabel{
  position: relative;
  right: 5em;
  top: 4.6em;
  float: left;
}
td, th{
  text-align: center;
  padding-bottom: 0.3em;
}