#exercises {
  padding: 3em 1.5em;
  width: 90%;
  margin: 3rem auto;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0, 0, 8px, 8px rgba(0, 0, 0, 0.75);
  border-radius: 1em;
  text-align: center;
}
#exercises ul {
  list-style-type: none;
}
#new-exercise-info {
  z-index: 5;
}
#exercises li {
  margin: 1em auto;
  width: 30%;
  color: aliceblue;
  font-size: 1.2rem;
  font-weight: bold;
}
#exercise-form-data, #exercise-details{
  border-radius: 1em;
  background-color: rgba(150, 187, 187, 0.3);
}
#exercise-details-head :hover {
  cursor: pointer;
}
.instance p {
  margin: 0 auto;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  color: aliceblue;
}
