* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#title {
  color: aliceblue;
  user-select: none;
  -webkit-user-select: none;
  display: table;
  font-size: 1.8rem;
  margin: 0.5em auto;
}
#sub-title {
  color: aliceblue;
  font-size: 1.5rem;
  margin: 3rem auto 0.5em auto;
  text-align: center;
  text-shadow: -1px -1px 0 #001011, 1px -1px 0 #001011, -1px 1px 0 #001011,
    1px 1px 0 #001011;
}
.header{
  background-color: rgba(0, 0, 0, 0.3);
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
body {
  /* background-color: #586F7C; */
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../pexels-max-vakhtbovycn-7031705.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Courier New", Courier, monospace;
}
div {
  user-select: none;
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
}
h3 {
  margin-bottom: 1em;
  font-size: 1.5rem;
  color: aliceblue;
  text-shadow: -1px -1px 0 #001011, 1px -1px 0 #001011, -1px 1px 0 #001011,
    1px 1px 0 #001011;
  font-weight: bolder;
}
.li-global {
  display: inline-flex;
  margin-right: 3rem;

  color: aliceblue;
}
.ul-global {
  user-select: none;
  -webkit-user-select: none;
  margin: 0 auto 0.5em auto;
  list-style-type: none;
  display: table;
  margin-top: 1rem;
}
#nav {
  margin: 0 auto;
}
a {
  color: aliceblue;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 200ms;
}
li:hover a {
  transform: scale(1.1);
  transition: all 200ms;
}
.user-form {
  padding: 3em 1.5em;
  width: 90%;
  margin: 3rem auto;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0, 0, 8px, 8px rgba(0, 0, 0, 0.3);
  border-radius: 1em;
  text-align: center;
}
form {
  width: 80%;
  margin: 0 auto;
}
label,
input {
  display: inline-block;
  margin-bottom: 0.5em;
}
label {
  width: 30%;
  text-align: right;
  color: aliceblue;
  text-shadow: -1px -1px 0 #001011, 1px -1px 0 #001011, -1px 1px 0 #001011,
    1px 1px 0 #001011;
  font-size: 1.2rem;
  font-weight: bold;
}
label + input {
  width: 30%;
  margin: 0 30% 0 4%;
}
#submit {
  display: block;
  margin: 0.5em auto;
  font-size: 1.2rem;
  width: 25%;
}
/* #submit :hover{
  cursor: pointer;
  background-color: #001011;
} */
input,
button {
  text-align: center;
  background-color: rgba(240, 248, 255, 0.75);
  border-style: solid;
  border-color: aliceblue;
  font-size: 1.2rem;
  outline: none;
  color: aliceblue;
  border-radius: 0.3em;
}
button {
  display: block;
  margin: 2em auto;
}
h3 {
  text-align: center;
  margin: 2em auto;
}
